img {
    max-width: 100%;
}

.logo-img{
  width: 1.5rem;
}

.logo-span{
	display: none;
}

.footer {
	display: flex;
    align-items: center;
    column-gap: 1.25rem;
}

body {
	font-family: Poppins;
}

footer {
	font-weight: 400;
    font-size: .75rem;
    line-height: 1.16667;
	display: flex;
	justify-content: space-around;
  	background-color: rgba(24, 25, 34);
	color: #ffffff;
	padding:  1.2rem;
}

p {
	font-size: .75rem;
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 5px;
}